.tree_view .tl_listing .tl_folder_top img{padding-right:2px;vertical-align:-3px;}
.tree_view .tl_listing .tl_folder .tl_left, .tree_view .tl_listing .tl_file .tl_left{padding-top:2px;}
.tree_view .tl_listing .icon{vertical-align:-4px;padding-right:3px;}
.tree_view .tl_listing .project .tl_left{padding-left:28px;}
.tree_view .tl_listing .service .tl_left{padding-left:70px;}
.tree_view .tl_listing .tl_folder.disabled strong{color:#999c99;}

.tree_view .tl_listing li{display:block;}

#tl_buttons a{padding:2px 0 2px 18px;background-repeat: no-repeat;background-position:left center;margin:0 5px;}
.header_new.customer{background-image:url(../icons/customer_new.png);padding-left:21px;}
.header_new.project{background-image:url(../icons/project_new.png);padding-left:21px;background-position:3px 2px;}
.header_new.service{background-image:url(../icons/service_new.png);padding-left:21px;background-position:3px 2px;}

.header_invoice_reminder{background: url("../icons/invoice_reminder.png") no-repeat left center;padding: 2px 0 3px 21px;}
.header_task_reminder{background: url("../icons/task_reminder.png") no-repeat left center;padding: 2px 0 3px 21px;}

.list_view .disabled{color:#999;}

.tl_text.quantity{display:block;float:left;clear:left;width:30px;margin-right:5px;text-align:center;}
.tl_select.unit{display:block;float:left;width:70px;margin-right:5px;}
.tl_text.label{display:block;float:left;width:410px;margin-right:5px;}
.tl_text.tax{display:block;float:left;width:30px;margin-right:5px;text-align:center;}
.tl_text.price{display:block;float:left;width:50px;margin-right:5px;text-align:center;}
.checkbox.print{display:block;float:left;margin-right:10px;}
label.print{display:block;float:left;}
.positions .tl_help{clear:left;}

#tl_buttons .add_hours{padding-left:21px;}

.path{margin-top:10px;}
.back_link{display:block;margin-top:20px;}

#week_buttons {
	padding: 10px 16px 0;
}

#workin_hours_calendar_wrapper {
	margin: 0 15px 15px;
}

#working_hours_calendar {
	width: 100%;
	background: #fdfdfd;
	border-collapse: collapse;
}

#working_hours_calendar thead td {
	font-weight: bold;
	background: #F3F3F3;
	width: 95px;
	text-align: center;
	padding-bottom: 5px;
}

#working_hours_calendar, #working_hours_calendar td {
	border: 1px solid #bbb;
}

#working_hours_calendar td {
	padding: 5px;
	padding-bottom: 0;
}

#working_hours_calendar tbody td {
	vertical-align: top;
}

#working_hours_calendar td .working_hour_entry {
	border: 1px solid #bbb;
	padding: 5px;
	margin-bottom: 5px;
}

#working_hours_calendar td .working_hour_entry .entry_buttons {
	text-align: right;
	margin-top: 15px;
}

#working_hours_calendar td .working_hour_entry .entry_buttons a {
	margin-left: 5px;
}
